.obsidian/app.json
.obsidian/appearance.json
.obsidian/core-plugins.json
.obsidian/workspace.json
.obsidian/templates.json
/.obsidian
.obsidian/plugins/image-converter/data.json
/.obsidian/plugins
/.obsidian
